.App {
  text-align: center;
}

.viewer {
  margin-top: 200px;
  width: 640px;
  height: 480px;
  position: relative;
  outline: 1px solid black;
}


.commentViewer{
  width: 30%;
  float: right;
}

div#mainHoops-canvas-container {
  width: 70% !important;
}